<div class="row justify-content-center">
  <div class="col-md-11">
    <p-table [value]="remotes" [scrollable]="true" [loading]="tableLoading" (onEditInit)="onEditInit($event)"
      (onEditCancel)="onEditCancel($event)" (onEditComplete)="onEditComplete($event)">
      <ng-template pTemplate="header">
        <tr>
          <!-- <th style="width: 2.25em">Id</th> -->
          <th style="width: 2.25em">Id</th>
          <th>Name</th>
          <th>Host</th>
          <th>Hardware</th>
          <th>FW</th>
          <th>FW Pref</th>
          <th>At Vsn?</th>
          <th>Started</th>
          <th>Seen</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-remote>
        <tr>
          <td style="width: 2.25em">{{remote.id}}</td>
          <td [pEditableColumn]="remote" [pEditableColumnField]="'name'">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input type="text" [(ngModel)]="remote.name" (blur)="blur({event: $event, local: $item})">
              </ng-template>
              <ng-template pTemplate="output">
                {{remote.name}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>{{remote.host}}</td>
          <td>{{remote.hardware}}</td>
          <td>{{remote.firmware}}</td>
          <td>{{remote.firmwarePref}}</td>
          <td>{{remote.atVersion}}</td>
          <td>{{remote.startedAt | date:'yyyy-MM-dd hh:mm:ss':'ET'}}</td>
          <td>{{remote.seenAt | date:'yyyy-MM-dd hh:mm:ss':'ET'}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<div class="row justify-content-center align-items-center" style="padding-top:1em">
  <div class="col-md-auto refresh-button">
    <p-toggleButton #refreshButton [(ngModel)]="autoRefresh" onLabel="Refresh: On" offLabel="Refresh: Off"
      onIcon="fa-check-square" offIcon="fa-square"></p-toggleButton>
  </div>
  <div class="col-md-auto commit-button">
    <button pButton type="button" icon="fa-save" [label]="commitLabel()" (click)="handleCommit($event)" [disabled]="pending.length === 0"></button>
  </div>
  <div class="col-md-2 load-spinner">
    <div *ngIf="tableLoading">
      <p-progressSpinner [style]="{width: '10px', height: '10px'}" strokeWidth="2" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
    </div>
  </div>
</div>