
  <table class="table device-table" id="noDeviceTable">
    <bold>
      <th>Alias</th>
      <th>Device</th>
      <th>Description</th>
      <th>Last Seen</th>
      <th>Last Seen At</th>
    </bold>
    <%= for a <- @unknown do %>
      <tr>
        <td><%= a.fname %></td>
        <td><%= a.device %></td>
        <td><%= a.desc %></td>
        <td><%= a.last_seen_secs %></td>
        <td><%= a.last_seen_at %></td>
      </tr>
    <% end %>
  </table>
