<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Tim Hughey">
    <link rel="icon" href="<%= static_path(@conn, "/favicon.ico") %>">

    <title>Mercurial</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Inconsolata|Acme|Rokkitt" rel="stylesheet" type='text/css' crossorigin="anonymous">
  </head>

  <body>
    <div class="container">
      <%= render @view_module, @view_template, assigns %>
    </div> <!-- /container -->

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
