/* You can add global styles to this file, and also import other style files */

.fancy-font {
  padding-top: 0px;
  color: #6111e4 !important;
  font-family: 'Permanent Marker', cursive;
}

body {
  font-family: 'Rokkitt', serif !important;
}
