<div class="row justify-content-center" style="padding-bottom:50px">
  <div class="col-md-11">
    <router-outlet></router-outlet>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-auto">
    <h5>Here are some links to help you start:</h5>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-auto">
    <h5><a routerLink="/landing">Landing</a></h5>
  </div>
  <div class="col-md-auto">
    <h5><a routerLink="/remotes">Remotes</a></h5>
  </div>
  <div class="col-md-auto ">
    <h5><a target="_blank " rel="noopener " href="https://angular.io/tutorial ">Tour of Heroes</a></h5>
  </div>
  <div class="col-md-auto ">
    <h5><a target="_blank " rel="noopener " href="https://github.com/angular/angular-cli/wiki ">CLI Documentation</a></h5>
  </div>
  <div class="col-md-auto ">
    <h5><a target="_blank " rel="noopener " href="https://blog.angular.io/ ">Angular blog</a></h5>
  </div>
</div>