<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href=".." class="navbar-brand fancy-font" id="mastheadText">Janice</a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a href="../mcp" class="nav-link">MCP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.wisslanding.com/monitor" target="_blank">Grafana</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            External Sites
          </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="https://www.nest.com" target="_blank">Nest</a>
          <a class="dropdown-item" href="https://www.angular.io" target="_blank">Angular</a>
          <a class="dropdown-item" href="https://www.primefaces.org/primeng/#/" target="_blank">PrimeNG</a>
        </div>
      </li>
    </ul>
    <span class="navbar-text" id="navbarStatus">
        <span class="alert alert-success mx-1" role="alert" style="display:none;" id="navbarAlert"></span>
    </span>
    <span>
        <a href="janice/login" class="btn btn-primary">Sign In</a>
      </span>
  </div>
</nav>

<div class="row justify-content-center">
  <div class="col-md-auto">
    <img width="150" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-auto text-center" style="padding-bottom:25px">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>
</div>


<div class="row justify-content-center" style="padding-bottom:50px">
  <div class="col-md-auto text-center">
    <div *ngIf="displayName">
      <h2>Hello {{displayName}}, from PrimeNG!</h2></div>
    <div *ngIf="!displayName">
      <h2>Hello from PrimeNG!</h2></div>
  </div>
</div>

<div class="row justify-content-center" style="padding-bottom:50px">
  <div class="col-md-auto">
    <div class="ui-inputgroup">
      <input type="text" pInputText placeholder="Enter your name" [(ngModel)]="greet" (change)="nameChanged($event)" (input)="input($event)" />
      <button pButton type="button" [disabled]="disabled" (click)="handleClick()" icon="fa-check" label="Greet me"></button>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-auto">
    <p> {{theUserSaid}} </p>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-auto">
    <h2>Here are some links to help you start: </h2>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-auto ">
    <h2><a target="_blank " rel="noopener " href="https://angular.io/tutorial ">Tour of Heroes</a></h2>
  </div>
  <div class="col-md-auto ">
    <h2><a target="_blank " rel="noopener " href="https://github.com/angular/angular-cli/wiki ">CLI Documentation</a></h2>
  </div>
  <div class="col-md-auto ">
    <h2><a target="_blank " rel="noopener " href="https://blog.angular.io/ ">Angular blog</a></h2>
  </div>
</div>